= new_header "Application review page"
%div{:class => "row card"}
  %h1.card-header= "Application Review for " + @user_to_review.fname.to_s + " " + @user_to_review.lname.to_s[0,1] + "."
  = label :date, "date", "Date of Submission: " + @grad_application_review.date.to_s[0,10], {:align => "center"}
  %hr
  %div.row
    %div.card.col-md-6
      %h2.card-header Personal Info:
      %div.card-body
        = label :name, "name", "Name: " + @user_to_review.fname.to_s + " " + @user_to_review.lname.to_s, {:class => "form-control", :disabled => false}
        = label :email, "email", "Email: " + @user_to_review.email.to_s, {:class => "form-control", :disabled => false}
        = label :phone, "phone", "Phone: " + @user_to_review.phone.to_s, {:class => "form-control", :disabled => false}
        = label :gender, "gender", "Gender: " + @student_to_review.gender.to_s, {:class => "form-control", :disabled => false}
        = label :citizenship, "citizenship", "Citizenship: " + @student_to_review.citizenship.to_s, {:class => "form-control", :disabled => false}
        = label :address, "address", "Address: " + @student_to_review.address.to_s, {:class => "form-control", :disabled => false}
    %div.card.col-md-6
      %h2.card-header Recommendations:
      - @letter_of_recommendations.each do |letter|
        %div{:id => "letterModal"+letter.id.to_s, :class => "modal fade", :tabindex=>"-1", "area-labelledby" => "statementModalLabel", "aria-hidden" => "true"}
          %div{:class => "modal-dialog modal-xl modal-fullscreen-lg-down"}
            %div{:class => "modal-content"}
              %div{:class => "modal-header"}
                %h5{:id => "letterModal"+letter.id.to_s+"Label", :class =>"modal-title"} Letter of Recommendation
                %button{:class => "btn-close", "data-bs-dismiss" => "modal", "aria-label" => "Close"}
              %div{:class => "modal-body"}
                =letter.letter.html_safe
              %div{:class => "modal-footer"}
                %button{:class => "btn btn-secondary", :type => "button", "data-bs-dismiss" =>"modal" } Close
        %ul.card-body
          %li.list-group-item= "Recommender 1: " + letter.email.to_s
          %li.list-group-item
            - if letter.submitted
              %button{:id => "letter"+letter.id.to_s+"Button", :class => "btn btn-alternative", "data-bs-toggle" => "modal", "data-bs-target" => "#letterModal"+letter.id.to_s} View Letter of Recommendation
            - else
              %button{:id => "letter"+letter.id.to_s+"Button", :class => "btn btn-alternative", "data-bs-toggle" => "modal", "data-bs-target" => "#letterModal"+letter.id.to_s, :disabled=>true} Letter not submitted

  %br
  %div.row.card
    %h1.card-header Degrees Earned:
    %div.card-body
    - @degrees_to_review.each do |deg|
      %div.card
        %h4.card-header
          = label :deg_type, 'deg_type', deg.degree_type.to_s
        %div.card-body
          %h4
            = label :deg_name, 'deg_name', "University: " + deg.name.to_s, {:class => "form-control", :disabled => false}
            = label :deg_city, 'deg_city', "City: " + deg.city.to_s, {:class => "form-control", :disabled => false}
            = label :deg_major, 'deg_major', "Major: " + deg.major.to_s, {:class => "form-control", :disabled => false}
            = label :deg_gpa, 'deg_gpa', "GPA: " + deg.gpa.to_s, {:class => "form-control", :disabled => false}
  %br
  %div.row.card
    %h1.card-header
      = label :statement_of_purpose, 'statement_of_purpose', "Statement of Purpose: "
    %div.card-body
      = @statement_of_purpose.html_safe
  %br
  %div.card
    %h1.card-header Review Application:
    %div.card-body
      - if !@faculty_review.nil?
        = form_tag faculty_update_application_review_path do
          %div.card
            %h4.card-header Comments:
            %div.card-body
              = text_area :grad_application, :comments, {:value => @faculty_review.comments.to_s, :class => "form-control"}
              %br
              = text_field :app_id, @grad_application_review.id.to_s, {:hidden => true}
              = text_field :review_id, @faculty_review.id.to_s, {:hidden => true}
              %br
              %span Application Score:
              = select :score_select, :score,  [0,1,2,3,4,5], {:selected => @faculty_review.score}
              %hr
              = submit_tag "Resubmit Review"
      - else
        = form_tag faculty_submit_application_review_path do
          %div.card
            %h4.card-body Comments:
            %div.card-body
              -#%textarea{:name => "comments", :object => 'score_select', :rows => "8", :cols => "100", :style => "resize:none; font-color:black; font-family:Times New Roman; font-size:18px; white-space:pre-wrap"}
              = text_area :grad_application, :comments, {:class => "input-group", :rows => "8"}
              = text_field :app_id, @grad_application_review.id.to_s, {:hidden => true}
              %br
              %span Application Score:
              = select :score_select, :score, [0,1,2,3,4,5], {:class => "form-select"}
              %hr
              = submit_tag "Submit Review"
= link_to "Cancel", faculty_home_path


