= new_header "Degree creation page for Graduate Application"
%hr
%div.card
  - if flash[:degree]
    %h3.card-header= flash[:degree]
    %div.card-body
      = link_to "Continue Application", grad_applications_new_path
= form_tag students_degree_creation_path, {class: "card"} do
  %h2.card-header Please fill the following information:
  %div.card-body
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "name", "Institution Name:", {:class => "form-control", :placeholder => "Name", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "name", flash[:errors]["name"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["name"])
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "city", "Institution City:", {:class => "form-control", :placeholder => "City", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "city", flash[:errors]["city"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["city"])
    %hr
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "major", "Area of Study:", {:class => "form-control", :placeholder => "MajorStudy", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "major", flash[:errors]["major"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["major"])
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "degree_type", "Degree Earned:", {:class => "form-control", :placeholder => "Degree", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "degree_type", flash[:errors]["degree_type"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["degree_type"])
    %hr
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "gpa", "GPA Earned:", {:class => "form-control", :placeholder => "GPA", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "gpa", flash[:errors]["gpa"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["gpa"])
    %br
    %div{:class => "input-group"}
      = submit_tag "Add Degree", {:class => "btn btn-alternative", :type =>"submit", :disabled => false}
= link_to "Cancel", users_show_path