%h1 Edit Account

= form_tag student_logged_in_path(@student), :method => :put do

  = label :student, :first_name, 'First Name'
  = text_field :student, 'first_name'

  = label :student, :last_name, 'Last Name'
  = text_field :student, 'last_name'

  = label :student, :gender, 'Gender'
  = text_field :student, 'gender'

  = submit_tag 'Update Account Info'
