= new_header "Student update page for Graduate Application"
%hr
= form_tag students_update_path, {class: 'card'} do
  %h2.card-header Please confirm/update the following:
  %div.card-body
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :user, "fname", "First Name", {:value => @user.fname, :class => "form-control", :placeholder => "First Name", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :user, "fname", flash[:errors]["fname"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["fname"])
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :user, "lname", "Last Name", {:value => @user.lname, :class => "form-control", :placeholder => "Last Name", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :user, "lname", flash[:errors]["lname"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["lname"])
    %br
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :user, "phone", "Phone", {:value => @user.phone, :class => "form-control", :placeholder => "Phone Number", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :user, "phone", flash[:errors]["phone"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["phone"])
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :student, "address", "Address", {:value => @student.address, :class => "form-control", :placeholder => "Address", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :user, "address", flash[:errors]["address"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["address"])
    %br
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :student, "citizenship", "Citizenship", {:value => @student.citizenship, :class => "form-control", :placeholder => "Citizenship Status", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :user, "citizenship", flash[:errors]["citizenship"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["citizenship"])
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :student, "gender", "Gender", {:value => @student.gender, :class => "form-control", :placeholder => "Gender", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :user, "gender", flash[:errors]["gender"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["gender"])
    %br
    -# need a check for existence of degrees
    - if has_degree? @user
      %div{:class => "input-group"}
        = submit_tag "Update", {:class => "btn btn-alternative", :type =>"submit", :disabled => false}
      %hr
      %div{:class => "input-group"}
        %div.list-group.card
          %span.card-header Degrees obtained:
          =render :file => "layouts/list_degrees_with_edit.html.haml"
    -# end check
    %div{:class => "input-group"}
      = link_to "Add Degree", students_degree_path+"/?path=student_edit"
    %br
    -#%div{:class => "input-group"}
    = submit_tag "Update", {:class => "btn btn-alternative", :type =>"submit", :disabled => false}
= link_to "Cancel", students_path