= form_tag students_update_path do
  = create_form_input_field :text_field, :user, "fname", "First Name", {:value => @user.fname}
  = create_form_input_field :text_field, :user, "lname", "Last Name", {:value => @user.lname}
  = create_form_input_field :text_field, :user, "address", "Address", {:value => @user.address}
  = create_form_input_field :text_field, :user, "phone", "Phone", {:value => @user.phone}
  = create_form_input_field :text_field, :student, "citizenship", "Citizenship", {:value => @student.citizenship}
  = create_form_input_field :text_field, :student, "gender", "Gender", {:value => @student.gender}

  = submit_tag "Update"