%h1 Show Applications
#main
  - if flash[:notice]
    #notice.message= flash[:notice]
  - elsif flash[:warning]
    #warning.message= flash[:warning]

  = yield

%table#applications
  %thead
    %tr
      %th Name
      %th Degree Objective
      %th Degree Objective Major
  %tbody
    - @all_applications.each do |app|
      %tr
        %td= app[:first_name] + " " + app[:last_name]
        %td= app[:deg_obj]
        %td= app[:deg_obj_major]


= link_to 'Create another application', grad_application_new_path