- bool = false
- if session[:nav]["View Application"]
  - bool = true
  - session[:nav].delete("View Application")
  - session[:nav] = {"View Application" => applications_show_path(params[:id])}.merge(session[:nav])
- else
  - session[:nav] = {"Current Application" => applications_show_path(params[:id])}.merge(session[:nav])
= new_header "show"
%br
%div.row
  %div{:id => "statementModal", :class => "modal fade", :tabindex=>"-1", "area-labelledby" => "statementModalLabel", "aria-hidden" => "true"}
    %div{:class => "modal-dialog modal-xl modal-fullscreen-lg-down"}
      %div{:class => "modal-content"}
        %div{:class => "modal-header"}
          %h5{:id => "statementModalLabel", :class =>"modal-title"} Statement of Purpose
          %button{:class => "btn-close", "data-bs-dismiss" => "modal", "aria-label" => "Close"}
        %div{:class => "modal-body"}
          =@application_info["Statement of Purpose"].html_safe
        %div{:class => "modal-footer"}
          %button{:class => "btn btn-secondary", :type => "button", "data-bs-dismiss" =>"modal" } Close
  %span{:class => "alert alert-warning"} Current status of application: #{@application_info[:status]}
  %div.col-lg-7
    %div.card
      %h2.card-header Application Information
      %ul.card-body
        - @application_info.each do |attribute, value|
          - if attribute != 'Statement of Purpose'
            %li.list-group-item
              %ul.list-group.list-group-horizontal
                %li.list-group-item= attribute
                %li.list-group-item.flex-fill= value
        %li.list-group-item
          %button{:id => "statementButton", :class => "btn btn-alternative", "data-bs-toggle" => "modal", "data-bs-target" => "#statementModal"} View Statement of Purpose
        %li.list-group-item
          %ul.list-group.list-group-horizontal
            %li.list-group-item.flex-fill=link_to "Edit Application", applications_edit_path, {:class => "list-group-item list-group-action flex-fill link-primary"}
            %li.list-group-item=link_to "Withdraw application", applications_withdraw_path, {:class => "list-group-item list-group-action link-secondary",:style => "float:right;", :method => "post", :data => {:confirm => "Are you sure you would like to withdraw this application? This cannot be undone, but a new application can be filled."}}
  %div.col-lg-5
    %div.card
      %h4.card-header Student information
      %ul.card-body
        - @user_info.merge(@student_info).each do |attribute, value|
          %li.list-group-item
            %ul.list-group.list-group-horizontal
              %li.list-group-item= attribute
              - if value == nil or value == ''
                %li.list-group-item.flex-fill{:style => "color:red"}= "None given"
              - else
                %li.list-group-item.flex-fill= value
        %li.list-group-item
          %div.card
            %h5.card-header Degrees listed:
            =render :file => 'layouts/list_degrees.html.haml'
- session[:nav].delete("Current Application")
- if bool
  - session[:nav].delete("View Application")
  - session[:nav] = {"View Application" => applications_path(params[:id])}.merge(session[:nav])