%h1 Create Application
#main
  - if flash[:notice]
    #notice.message= flash[:notice]
  - elsif flash[:warning]
    #warning.message= flash[:warning]

  = yield

= form_tag grad_application_create_path, {class: 'card'} do
  %h2.card-header Please fill and confirm the following:
  %div.card-body
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :grad_application, "university", "University of Enrollment", {:class => "form-control", :placeholder => "University", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :user, "university", flash[:errors]["university"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["university"])
  = submit_tag 'Create Application', {:disabled => true}
  = link_to "Cancel", users_applications_path

  %span.card-body
  - @user.degrees.each do |degree|
    = link_to degree.degree_type + " of " + degree.major + " from " + degree.name + " | edit ", degrees_edit_path+"/"+degree.id.to_s+"?application=1", {:class => "list-group-item list-group-action"}
