!!!
%html
%head
  %title
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", :rel => "stylesheet", :integrity => "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", :crossorigin => "anonymous"}
    %script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", :integrity => "sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", :crossorigin => "anonymous"}

%body
  = form_tag create_application_path do

  = label :application, :first_name, 'First Name'
  = text_field :application, 'first_name'

  = label :application, :last_name, 'Last Name'
  = text_field :application, 'last_name'

  = label :application, :gender, 'Gender'
  = text_field :application, 'gender'

  = label :application, :research_area, 'Research Area'
  = text_field :application, 'research_area'

  = label :application, :deg_obj, 'Degree Objective'
  = text_field :application, 'deg_obj'

  = label :application, :deg_obj_major, 'Undergraduate Major'
  = text_field :application, 'deg_obj_major'

  = submit_tag 'Create Application'