= form_tag users_update_path do
  = create_form_input_field :text_field, :user, "fname", "First Name", {:value => @user.fname}
  = create_form_input_field :text_field, :user, "lname", "Last Name", {:value => @user.lname}
  = create_form_input_field :text_field, :user, "phone", "Phone", {:value => @user.phone}

  = submit_tag 'Update'