=# need to check if logged in; perhaps a filter to accomplish this
- if flash[:login]
  %div{:class => "alert alert-danger"}
    = flash[:login]
= form_tag users_create_path do
  = label_tag :user_email, "Email"
  = text_field :user, "email"
  = label_tag :user_password, "Password"
  = password_field :user, "password"
  = label_tag :user_passwordV, "Verify Password"
  = password_field :user, "passwordV"
  = render :file => 'layouts/personal_info.html.haml'
  = submit_tag 'Create User'