=# need to check if logged in; perhaps a filter to accomplish this

= form_tag users_create_path do
  = create_form_input :text_field, :user, "email", "Email"
  %br
  = create_form_input :password_field, :user, "password", "Password"
  %br
  = create_form_input :password_field, :user, "passwordV", "Verify Password"
  %br
  = render :file => 'layouts/personal_info.html.haml'
  = submit_tag 'Create User'
