=# need to check if logged in; perhaps a filter to accomplish this
= form_tag users_path do
  = label_tag :user_email, "Email"
  = text_field :user, "email"
  = label_tag :user_password, "Password"
  = password_field :user, "password"
  = label_tag :user_passwordV, "Verify Password"
  = password_field :user, "passwordV"
  = submit_tag 'Create User'