-#This will be the view which displays user info and allows routing to other user actions
-# %h1 User control page for Graduate Application
= new_header "User control page for Graduate Application"
%hr
%p Consider this page to be a primary hub for one logged in.
%p It is within here navigation to various resources may occur, such as comparing schools. Navigation pertaining to this profile and the graduation application process are also included in the navigation bar above.
%hr
%div.card
  -if flash[:notice]
    %span.alert.alert-warning #{flash[:notice]}
  %h2.card-header User information:
  %ul.card-body
    - @user_info.each do |attribute, value|
      %li.list-group-item
        %ul.list-group.list-group-horizontal
          %li.list-group-item= attribute
          - if value == nil or value == ''
            %li.list-group-item.flex-fill{:style => "color:red"}= "None given"
          - else
            %li.list-group-item.flex-fill= value

    - if !@degrees.nil?
      %li.list-group-item
        %div.card
          %h3.card-header Degrees listed:
          =render :file => 'layouts/list_degrees.html.haml'