= form_tag degrees_update_path+'/'+@degree.id.to_s, :method => :put do
  = create_form_input_field :text_field, :degree, "name", "Institution Name:", {:value => @degree.name}
  = create_form_input_field :text_field, :degree, "city", "Institution City:", {:value => @degree.city}
  = create_form_input_field :text_field, :degree, "major", "Type of Degree:", {:value => @degree.major}
  = create_form_input_field :text_field, :degree, "degree_type", "Degree Earned:", {:value => @degree.degree_type}
  = create_form_input_field :text_field, :degree, "gpa", "GPA Earned:", {:value => @degree.gpa}
  = submit_tag "Update"
= link_to "Cancel", students_edit_path