= new_header "Degree edit page for Graduate Application"
- puts params
- if params['path'] == 'grad_application'
  - submit_path = degrees_application_update_path+'/'+@degree.id.to_s
  - cancel_path = applications_new_path
- else
  - submit_path = degrees_update_path+'/'+@degree.id.to_s
  - cancel_path = students_edit_path
%hr
= form_tag submit_path, {class: "card", method: :put} do
  %h2.card-header Please confirm/update the following:
  %div.card-body
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "name", "Institution Name:", {:value => @degree.name, :class => "form-control", :placeholder => "Name", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "name", flash[:errors]["name"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["name"])
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "city", "Institution City:", {:value => @degree.city, :class => "form-control", :placeholder => "City", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "city", flash[:errors]["city"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["city"])
    %br
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "major", "Type of Degree:", {:value => @degree.major, :class => "form-control", :placeholder => "Major", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "major", flash[:errors]["major"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["major"])
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "degree_type", "Degree Earned:", {:value => @degree.degree_type, :class => "form-control", :placeholder => "Degree", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "degree_type", flash[:errors]["degree_type"][0], {:class => "alert-danger input-group-text"} if (flash[:errors] and flash[:errors]["degree_type"])
    %br
    %div{:class => "input-group"}
      = create_form_input_field :text_field, :degree, "gpa", "GPA Earned:", {:value => @degree.gpa, :class => "form-control", :placeholder => "GPA", :disabled => false}, {:class => "input-group-text"}
      = create_form_error :degree, "gpa", flash[:errors]["gpa"][0], {:class => "alert alert-danger"} if (flash[:errors] and flash[:errors]["gpa"])
    %br
    %div{:class => "input-group"}
      = submit_tag "Update", {:class => "btn btn-alternative", :type =>"submit", :disabled => false}
= link_to "Cancel", cancel_path