= form_tag users_login_path do
  %div{:class => "input-group"}
    = label_tag :user_email, "Email", {:class => "input-group-text"}
    = text_field :user, "email", {:class => "form-control", :placeholder => "Your Email", :disabled => false}
  %div{:class => "input-group"}
    = label_tag :user_password, "Password", {:class => "input-group-text"}
    = password_field :user, "password", {:class => "form-control", :placeholder => "Password", :disabled => false}
  = button_tag "Login", {:class => "btn", :type =>"submit", :disabled => false}