= form_tag users_login_path, {:class => "card"} do
  - if flash[:login]
    %div{:class => "card-header alert-danger"}
      = flash[:login]
  - else
    %div{:class => "card-header"} Please log in:

  %div{:class => "input-group"}
    = create_form_input_field :text_field, :user, "email", "Email", {:class => "form-control", :placeholder => "Your Email", :disabled => false}, {:class => "input-group-text"}
  %div{:class => "input-group"}
    = create_form_input_field :password_field, :user, "password", "Password", {:class => "form-control", :placeholder => "Password", :disabled => false}, {:class => "input-group-text"}
  = button_tag "Login", {:class => "btn btn-alternative", :type =>"submit", :disabled => false}