.div.row.col-sm-11{ :style => "margin:auto" }
  = create_form_input_field :text_field, :user, "fname", "First Name", {:class => "form-control", :placeholder => "First Name", :disabled => false}, {:class => "input-group-text"}
  = create_form_error :user, "fname", flash[:login]["fname"][0], {:class => "alert alert-danger text-center"} if (flash[:login] and flash[:login]["fname"])
%br
.div.row.col-sm-11{ :style => "margin:auto" }
  = create_form_input_field :text_field, :user, "lname", "Last Name", {:class => "form-control", :placeholder => "Last Name", :disabled => false}, {:class => "input-group-text"}
  = create_form_error :user, "lname", flash[:login]["lname"][0], {:class => "alert alert-danger text-center"} if (flash[:login] and flash[:login]["lname"])
%br
.div.row.col-sm-11{ :style => "margin:auto" }
  = create_form_input_field :text_field, :user, "phone", "Phone Number", {:class => "form-control", :placeholder => "Phone Number", :disabled => false}, {:class => "input-group-text"}
%br